:host {
  display: block;
  padding-top: 1rem;
}

ul {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

li {
  color: var(--text-muted);
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.2s;
  &:hover {
    scale: 1.1;
  }
}

.activatedRoute {
  scale: 1.1;
  color: black;
  &:hover {
    scale: 1;
  }
}
