:host {
  display: block;
}

.main {
  height: 100vh;
  display: grid;
  grid-template-columns: minmax(200px, 0.2fr) minmax(500px, 1fr);
  grid-template-rows: minmax(100px, 0.2fr) 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.canvas {
  grid-area: 2 / 2 / 3 / 3;
}

.year {
  padding: 2rem 0.5rem 0 2rem;
  select {
    font-size: 1rem;
    border-radius: 7px;
    margin: 1rem 0;
  }
}
